


.App{
    margin:  auto;
    color:white;
    padding-top: 12px;
     display: flex;
                flex-direction: row;
  justify-content: space-around;
                align-items: center;
    
}





.temp{

   font-size: 2rem;
    font-weight: 200;
}